body, html {
    margin: 0;
    padding: 0;
}

.text-black{
    color: black;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse{
    height: calc(100vh - 150px) !important;
    overflow: none !important;
}

.scheduler-calendar{
    width:1500px; 
    height:750px;
    margin-left: auto; 
    margin-right: auto;
}
